body{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* makes the chart look clean as heck */
#chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  path {
    stroke: #fff;
  }
  > svg{
    margin: 0 auto;
  }
}
#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  #title{
    font-size: 1.2em;
  }
}

#percentage{
  position: relative;
  top: -270px;
  left: 780px;
  font-size: 2em;
  text-align: center;
  width: 150px;
  height: 50px;
}

#details, #cash{
  max-width: 500px;
  text-align: center;
  margin: 5px auto;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
}

#sequence{
  position: relative;
  left: 1120px;
  top: 300px;
  width: 500px;
  #trail{
    width: 500px;
    overflow: visible;
  }
}
